/*this is Card */
.body-main {
    background: #eee;
    font-family: 'Raleway', sans-serif;
}
.main-part {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 5px;
}


/*this is end of Card */
/*this is table */
.card-header{
    font-size: 1em;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 15px;
}


.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}
/*this is end of table */

.header__containersub{
margin-left: 200px;
}

